.github
.git
.gitignore
build
coverage
dist
docs
documentation
node_modules
test
.env
.env.example
deploy.sh
deploy-bare-metal.sh
config/bare-metal
scripts/bare-metal
CHANGELOG.md
CONTRIBUTING.md
LICENSE
shlink-web-client.gif
*.png
docker-compose.yml
dev.Dockerfile
indocker
eslint.config.js
